.user {
  display: flex;
  align-items: center;
}

.user:last-child {
  margin-bottom: 0;
}

.avatar {
  flex: 0 0 96px;
  width: 320px;
  height: 250px;
  margin: 0;
}

.description {
  flex: 1;
  padding: 12px;
}

.username {
  padding: 0;
}

.excerpt {
  margin: 0;
}
