:root {
  --main-font-color: rgb(19, 19, 19);
  --alt-font-color: gray;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #ecf0f1; /* fallback for old browsers */
  color: var(--main-font-color);
  font-size: 1rem;
  letter-spacing: 0.03rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

@media (max-width: 799px) {
}

@media (min-width: 799px) {
}
