:root {
  --main-font-color: rgb(19, 19, 19);
  --alt-font-color: gray;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #ecf0f1; /* fallback for old browsers */
  color: var(--main-font-color);
  font-size: 1rem;
  letter-spacing: 0.03rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: 1px solid gray;
  margin: 3rem 0 0;
}

.emHeader {
  background-color: #cc5529;
  color: #ecf0f1;
  padding: 1rem 1rem 0.1rem;
}

.emLink {
  background-color: #2980b9;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 5px;
  max-width: 60%;
  font-size: 1.75rem;
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

.feature-card {
  background-color: #cc5529;
  padding: 0.5rem 2rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 5px;
  max-width: 75%;
  margin: auto;
  color: #ecf0f1;
}

.feature-card h2 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 3rem;
}

.feature-card p {
  font-size: 1.75rem;
  line-height: 2rem;
}

.hero-text {
  padding: 1rem 3rem;
  font-size: 3rem;
  line-height: 2.75rem;
}

.grid-sec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.pic-card {
  grid-column: span 2;
  text-align: center;
  vertical-align: center;
  padding: 4rem 2rem;
  background-color: #2980b9;
}

.pic-header {
  text-decoration: none;
  font-size: 5rem;
  color: #ecf0f1;
  text-shadow: rgba(0, 0, 0, 0.67) 5px 5px 8px;
}

.img-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-grid .img-fluid img {
  width: 450px;
  max-width: 100%;
  max-height: 550px;
}

.img-grid .img-fluid {
  padding: 1rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 2rem;
  line-height: 1.5rem;
  max-width: 80%;
  margin: auto;
}

.serv-card {
  grid-column: span 2;
  text-align: center;
  padding: 2rem;
  background-color: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 25px;
}

.vidCard {
  margin: auto;
  padding-top: 1rem;
  display: flex;
}

.vid-info {
  padding-bottom: 2rem;
}

.vid-info p {
  margin: 0;
  vertical-align: top;
  padding: 0 2rem 5rem;
  font-size: 1.5rem;
}

.blog-card {
  grid-column: span 2;
  margin: 1rem;
  padding: 1rem 2rem 2rem;
  background-color: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 25px;
}

.blog {
  color: var(--main-font-color);
}

.blog h1,
h2,
h3,
h4 {
  line-height: 3.2rem;
}

.blog p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.blog li {
  font-size: 1.5rem;
  line-height: 2rem;
}

.blog img {
  max-width: 100%;
  margin: auto;
}

.honey {
  display: none;
}

.contact {
  padding: 3rem 2rem;
  background-color: #cc5529;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 25px;
  max-width: 75%;
  margin: auto;
}

.form-input {
  padding: 0.5rem 0;
  max-width: 700px;
  margin: 0 auto;
}

form label {
  display: block;
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
  color: white;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #c1c1c4;
  font-size: 1.5rem;
}

form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #c1c1c4;
  font-size: 1.5rem;
  font-family: acumin-pro, sans-serif;
}

form button {
  background-color: #2980b9;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.75rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
  border: 0;
  cursor: pointer;
}

.about-info {
  margin: 2rem;
  line-height: 2rem;
}

.about-info h2 {
  text-align: center;
  padding: 1rem 2rem 2rem;
}

.about-info p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.highlight-blue {
  background-color: #2980b9;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 5px;
  color: white;
}

.legal h1 {
  text-align: center;
}

.legal p {
  font-size: 1.5rem;
  padding: 0 2rem;
}

.legal .quote {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.legal h2 {
  padding-left: 2rem;
  margin-bottom: 0;
}

.legal ul {
  font-size: 1.3rem;
  list-style-position: inside;
}

.legal li {
  padding-left: 1.5rem;
}

.footer-hero {
  font-size: 2.25rem;
  padding: 0 1.5rem 2rem;
  font-weight: bold;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #2980b9;
  color: #ecf0f1;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.footer-grid h3 {
  margin-bottom: 0.75rem;
}

.footer-grid .footer-pages {
  padding-left: 3rem;
}

.footer-notes {
  background-color: #2980b9;
  color: #ecf0f1;
  text-align: center;
  font-size: 1rem;
  margin-top: 0;
  padding: 1rem 0 2rem;
}

.footer-contact {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.mobile-header {
  display: none;
}

.post-header {
  background-color: #cc5529;
  color: #ecf0f1;
  padding: 1rem 1rem 0.1rem;
  font-size: 3rem;
}

.under-con p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.head-room {
  padding-top: 2rem;
}

@media (max-width: 899px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .about-info h2 {
    margin: auto;
    line-height: 2.5rem;
  }

  .about-info .mobile-header {
    display: block;
    background-color: #2980b9;
    padding: 0.5rem;
    color: #ecf0f1;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 5px;
    line-height: 2rem;
  }

  .blog-card {
    grid-column: span 4;
    margin: 1rem;
    padding: 1rem 2rem 2rem;
    background-color: #ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 25px;
  }

  .highlight-blue {
    display: none;
  }

  .head-room {
    padding-top: 0;
  }

  .feature-card {
    background-color: #cc5529;
    padding: 0.5rem 2.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 5px;
    max-width: 75%;
    margin: auto;
    color: #ecf0f1;
  }

  .feature-card h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-text {
    padding: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }

  .legal h1 {
    font-size: 3.5rem;
  }

  .legal p {
    word-wrap: break-word;
  }

  .legal li {
    word-wrap: break-word;
  }

  .pic-card {
    grid-column: span 4;
    text-align: center;
    vertical-align: center;
    padding: 4rem 2rem;
    background-color: #2980b9;
  }

  .pic-header {
    text-decoration: none;
    font-size: 4rem;
    color: #ecf0f1;
    text-shadow: rgba(0, 0, 0, 0.67) 5px 5px 8px;
  }

  .post-header {
    line-height: 3rem;
  }

  .img-grid {
    display: block;
    margin: auto;
    align-content: center;
  }

  .emHeader {
    line-height: 2.2rem;
  }

  .footer-hero {
    font-size: 2.25rem;
    padding: 0 0 2rem;
    font-weight: bold;
    line-height: 2.2rem;
  }

  .footer-grid {
    display: block;
    background-color: #2980b9;
    color: #ecf0f1;
    margin-bottom: 0;
    padding: 1rem 0 2rem;
    text-align: center;
  }

  .footer-grid a {
    font-size: 1.8rem;
  }

  .footer-grid .footer-pages {
    padding-left: 0;
  }

  .footer-notes {
    background-color: #2980b9;
    color: #ecf0f1;
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    padding: 1rem 0 5rem;
  }

  .footer-contact a {
    font-size: 1.25rem;
  }

  .services {
    display: block;
    padding: 0;
    max-width: 100%;
  }

  .serv-card {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 25px;
  }

  .under-con h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .under-con p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .vidCard,
  .vid-info {
    display: block;
    padding: 2rem 0;
  }

  .vidCard {
    max-width: 100%;
  }

  .vid-info p {
    margin: 0;
    padding: 0 0 5rem;
  }
}

@media (min-width: 799px) {
}
