:root {
  --main-bg-color: lightblue;
}

body {
  background-color: var(--main-bg-color);
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 2rem;
}

.grid .text-block {
  grid-column: span 2;
}
